@import "../../styles/abstracts/variables";

.app-tab {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: $color-white;
  color: $color-primary-dark;
  border-radius: 5px;
  font-size: $sm-font-size;
  font-weight: 700;
  &:hover {
    color: $color-primary-dark;
    background-color: $color-grey-light;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
      word-wrap: break-word;
    }
  }
}
